html {
    background-color: aquamarine;
    background-size: fill;
}

body {
    height: fill-available;
    width: fill-available;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.title {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Arizonia, Helvetica, sans-serif';
    color:gold
}